<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.bosch.mat.MatTableViewPart"
            id="com.bosch.mat.MatTableview"
            name="MatTableView"
            restorable="true">
      </view>
      <view
            class="com.bosch.mat.TableViewPart"
            id="com.bosch.mat.Tableview"
            name="MatTable"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            class="com.bosch.wizards.MatFileImportWizard"
            id="com.bosch.mat.matfilewizard"
            name="Import Mat File">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.bosch.mat.MatPerspectiveFactory"
            id="com.bosch.mat.Matperspective"
            name="Mat">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="com.bosch.mat.toolbar2">
            <command
                  commandId="com.bosch.mat.ImportFilecommand"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.bosch.mat.ImportFilecommand"
            name="ImportFile">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="ImportFileHandler"
            commandId="com.bosch.mat.ImportFilecommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.bosch.mat.Matperspective">
         <view
               id="com.bosch.mat.MatTableview"
               minimized="false"
               ratio="0.3f"
               relationship="left"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               id="com.bosch.mat.Tableview"
               minimized="false"
               ratio="0.95f"
               relationship="left"
               relative="org.eclipse.ui.editorss">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="com.bosch.college.casestudy.importcommand"
            icon="icons/college.gif">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="com.bosch.mat.ImportFilecommand"
            icon="icons/college.gif">
      </image>
   </extension>

</plugin>
